
.route-pane {
    -fx-pref-width: 185;
    -fx-background-color: #f3f3f5;
    -fx-border-color: #dddde1;
    -fx-border-width: 0 1 0 0;
    -fx-alignment: top-center;
    -fx-padding: 5 0 0 0;
}

.route-pane .menu {
    -fx-background-color: transparent;
    -fx-padding: 10 0 10 13;
}

.route-pane .menu:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.route-pane > .button {
    -fx-background-radius: 0;
    -fx-pref-height: 18;
    -fx-background-color: transparent;
    -fx-padding: 10 0 10 13;
}

.route-pane > .button:hover {
    -fx-background-color: rgb(232, 232, 235);
}

.route-pane > .selected-button {
    -fx-background-color: #dddde1;
    -fx-border-color: main-color;
    -fx-border-width: 0 0 0 3;
    -fx-padding: 10 0 10 10;
}